.i-utilities_pull_left {
  float: left;
}
.i-utilities_pull_right {
  float: right;
}
.i-utilities_toggle_hide {
  display: none;
}
.i-utilities_toggle_show {
  display: block;
}
.i-utilities_visibility_hidden {
  visibility: hidden;
}
.b-layout {
  /* ... */

}
.b-layout__row {
  /* ... */

}
.b-layout__span {
  /* ... */

}
.b-layout__offset {
  /* ... */

}
.b-layout_type_fixed {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.b-layout_type_fixed:before,
.b-layout_type_fixed:after {
  display: table;
  content: "";
}
.b-layout_type_fixed:after {
  clear: both;
}
.b-layout__row {
  margin-left: -20px;
  *zoom: 1;
}
.b-layout__row:before,
.b-layout__row:after {
  display: table;
  content: "";
}
.b-layout__row:after {
  clear: both;
}
[class*="b-layout__span"] {
  float: left;
  margin-left: 20px;
}
.b-layout__span_size_1 {
  width: 60px;
}
.b-layout__span_size_2 {
  width: 140px;
}
.b-layout__span_size_3 {
  width: 220px;
}
.b-layout__span_size_4 {
  width: 300px;
}
.b-layout__span_size_5 {
  width: 380px;
}
.b-layout__span_size_6 {
  width: 460px;
}
.b-layout__span_size_7 {
  width: 540px;
}
.b-layout__span_size_8 {
  width: 620px;
}
.b-layout__span_size_9 {
  width: 700px;
}
.b-layout__span_size_10 {
  width: 780px;
}
.b-layout__span_size_11 {
  width: 860px;
}
.b-layout__span_size_12,
.container {
  width: 940px;
}
.b-layout__offset_size_1 {
  margin-left: 100px;
}
.b-layout__offset_size_2 {
  margin-left: 180px;
}
.b-layout__offset_size_3 {
  margin-left: 260px;
}
.b-layout__offset_size_4 {
  margin-left: 340px;
}
.b-layout__offset_size_5 {
  margin-left: 420px;
}
.b-layout__offset_size_6 {
  margin-left: 500px;
}
.b-layout__offset_size_7 {
  margin-left: 580px;
}
.b-layout__offset_size_8 {
  margin-left: 660px;
}
.b-layout__offset_size_9 {
  margin-left: 740px;
}
.b-layout__offset_size_10 {
  margin-left: 820px;
}
.b-layout__offset_size_11 {
  margin-left: 900px;
}
.b-layout_type_fluid {
  padding-left: 20px;
  padding-right: 20px;
  *zoom: 1;
}
.b-layout_type_fluid:before,
.b-layout_type_fluid:after {
  display: table;
  content: "";
}
.b-layout_type_fluid:after {
  clear: both;
}
.b-layout__row_type_fluid {
  width: 100%;
  *zoom: 1;
}
.b-layout__row_type_fluid:before,
.b-layout__row_type_fluid:after {
  display: table;
  content: "";
}
.b-layout__row_type_fluid:after {
  clear: both;
}
.b-layout__row_type_fluid > [class*="b-layout__span"] {
  float: left;
  margin-left: 2.127659574%;
}
.b-layout__row_type_fluid > [class*="b-layout__span"]:first-child {
  margin-left: 0;
}
.b-layout__row_type_fluid .b-layout__span_size_1 {
  width: 6.382978723%;
}
.b-layout__row_type_fluid .b-layout__span_size_2 {
  width: 14.89361702%;
}
.b-layout__row_type_fluid .b-layout__span_size_3 {
  width: 23.404255317%;
}
.b-layout__row_type_fluid .b-layout__span_size_4 {
  width: 31.914893614%;
}
.b-layout__row_type_fluid .b-layout__span_size_5 {
  width: 40.425531911%;
}
.b-layout__row_type_fluid .b-layout__span_size_6 {
  width: 48.93617020799999%;
}
.b-layout__row_type_fluid .b-layout__span_size_7 {
  width: 57.446808505%;
}
.b-layout__row_type_fluid .b-layout__span_size_8 {
  width: 65.95744680199999%;
}
.b-layout__row_type_fluid .b-layout__span_size_9 {
  width: 74.468085099%;
}
.b-layout__row_type_fluid .b-layout__span_size_10 {
  width: 82.97872339599999%;
}
.b-layout__row_type_fluid .b-layout__span_size_11 {
  width: 91.489361693%;
}
.b-layout__row_type_fluid .b-layout__span_size_12 {
  width: 99.99999998999999%;
}
